@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@foreach (var company in Model.Companies)
{
    <h4>
        @company.Id
        @company.Name
        @company.Address
    </h4>
}

@foreach (var contact in Model.Contacts)
{
<h4>
    @contact.CompanyId
    @contact.Name
    @contact.Title
    @contact.Telephone

</h4>
}